@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container my-5 py-2">

    <div class="search-div"></div>


    <div class="centro-about">
        <div class="principal-detalhes">


            <p>Este projecto foi desenvolvido por mim, Milena Gonçalves, para a UFCD de Projeto de Programação do curso Programador de Informática, orientado pelo formador João Monge.</p>

            <p>Sou atualmente estudante em formação dos cursos Programador(a) de Informática (IEFP) e Desenvolvedor(a) Front End (Vai Na Web), estou em busca contínua de capacitação e aprimorar minhas habilidades. Sempre dedicada, estudei Biologia na faculdade, mas voltei às minhas raízes de desenvolvimento de software devido a natureza apaixonante e transformadora da programação.</p>

            <p>O atual projeto tem como principal objetivo servir como um site de consulta de livros, onde os leiteres podem procurar por livros que já leram ou que querem ler, ver mais detalhes, ler resenhas e comentários sobre os livros e deixar seu prórprio comentário. Criando assim uma rede de leitres para compartilhar gostos e opiniões.</p>

            <h4><span>FunFact 📚</span></h4><p> Como pode-se perceber sou uma leitora assídua. E um dos primeiros livros que li, ainda quando criança, foi "O Mangá de Bancos de Dados", de autoria de Mana Takashi e Shoko Azuma.</p>

            <img src="/img/manga.png" alt="Livro mangá Banco de Dados">
        </div>
    </div>

</div>