@page
@model projecto_iefp.Pages.CreateComentarioModel
@{
}


<div class="row justify-content-center">
    <div class="col-lg-6 text-center" style="width: 80%;">
        <h2>Comente "@Model.Titulo" relacionado à busca "@Model.searchTerm"</h2>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center" style="margin: 10%;">
    <form method="POST" style="width: 30vw;">
        <div class="form-group m-3">
            <label class="ref-detalhes" for="nome">Comentando no livro:</label>
            <input type="text" class="form-control" name="titulo" id="titulo" placeholder="@Model.Titulo" disabled />
        </div>

        <div class="form-group m-3">
            <label class="ref-detalhes" for="nome">Insira seu nome*</label>
            <input required type="text" class="form-control" name="nome" id="nome" placeholder="Insira seu nome" />
        </div>

        <div class="form-group m-3">
            <label class="ref-detalhes" for="email">E-mail*</label>
            <input required type="email" class="form-control" id="email" name="email" placeholder="Insira seu e-mail" />
        </div>

        <div class="form-group m-3">
            <label class="ref-detalhes" for="comentario">Comentário*</label>
            <textarea required class="form-control" id="comentario" name="comentario" placeholder="Insira seu comentário sobre o livro" rows="5"></textarea>
        </div>

        <div class="d-flex justify-content-center">
           <input class="criar-comen" style="border: 2px;" type="submit" value="Criar" /> 
        </div>
    </form>
</div>