@page
@model projecto_iefp.Pages.IndexModel
@using Newtonsoft.Json
@{
}



<section>
    <img src="/img/livrosvoando.png" class="livrosvoando" alt="">
    <img src="/img/livrosvoando2.png" class="livrosvoando2" alt="">

</section>
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center" style="width: 80%;">
                <h2>Bem vindo(a) à <span>Word Journey</span> </h2> <h2 style="padding-top: 2rem;">Descubra uma jornada diferente a cada livro</h2>
                <p>Escolha seu assento e lembre-se: Jamais julgue um livro pela capa!</p>
                <a asp-area="" asp-page="/Livros" class="btn-get-started">Navegue por todos os géneros</a>
            </div>
        </div>
    </div>
</section>

        <!--Imagem 1 link thriller-->
    <section id="gallery" class="gallery" style="padding-bottom:5rem">
        <div class="container-fluid">

            <div class="row gy-4 justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="/img/gallery/gallery-2.jpg" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="/img/gallery/gallery-2.jpg" title="Thriller" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <!--Tentei criar um dic com asp all route, mas não entendi bem os doc da net-->
                            <a asp-page="/generos" asp-page-handler="Escolha" asp-route-genero="Thriller" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                <!--Imagem 2 link Ficção Cientifica-->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="/img/gallery/gallery-1.jpg" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="/img/gallery/gallery-1.jpg" title="Ficção Cientifica" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a asp-page="/generos" asp-page-handler="Escolha" asp-route-genero="Ficção Cientifica" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Gallery Item -->
                <!--Imagem 3 link Aventura-->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="/img/gallery/gallery-3.jpg" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="/img/gallery/gallery-3.jpg" title="Aventura" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a asp-page="/generos" asp-page-handler="Escolha" asp-route-genero="Aventura" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                <!--Imagem 4 link Comédia-->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="/img/gallery/gallery-4.jpg" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="/img/gallery/gallery-4.jpg" title="Comédia" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a asp-page="/generos" asp-page-handler="Escolha" asp-route-genero="Comédia" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Gallery Item -->
                <!--Imagem 5 link Romance-->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="/img/gallery/gallery-5.jpg" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="/img/gallery/gallery-5.jpg" title="Romance" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a asp-page="/generos" asp-page-handler="Escolha" asp-route-genero="Romance" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Gallery Item -->
                <!--Imagem 6 link Terror-->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="/img/gallery/gallery-6.jpg" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="/img/gallery/gallery-6.jpg" title="Gallery 6" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a asp-page="/generos" asp-page-handler="Escolha" asp-route-genero="Terror" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Gallery Item -->
                <!--Imagem 7 link Fantasia-->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="/img/gallery/gallery-7.jpg" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="/img/gallery/gallery-7.jpg" title="Fantasia" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a asp-page="/generos" asp-page-handler="Escolha" asp-route-genero="Fantasia" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Gallery Item -->
                <!--Imagem 8 link Drama-->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src="/img/gallery/gallery-8.jpg" class="img-fluid" alt="">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="/img/gallery/gallery-8.jpg" title="Aventura" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a asp-page="/generos" asp-page-handler="Escolha" asp-route-genero="Drama" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    


