@page
@model PedidoModel
@{
    ViewData["Title"] = "Pedido";
}

<div class="row justify-content-center">
    <div class="col-lg-6 text-center" style="width: 80%;">
        <h2>Envie-nos o livro que deseja inserir no site</h2>
    </div>
</div>

@if (string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="d-flex justify-content-center align-items-center" style="margin: 10%;">
        <form method="POST" style="width: 30vw;" asp-action="Solicitar">
            <div class="form-group m-3">
                <label class="ref-detalhes" for="livro">Título*</label>
                <input required type="text" class="form-control" name="livro" id="livro" placeholder="Insira o titulo do livro" />
            </div>

            <div class="form-group m-3">
                <label class="ref-detalhes" for="comentario">Género* </label>
                <input required type="text" class="form-control" id="genero" name="genero" placeholder="Insira seu comentário sobre o livro" rows="5" />
            </div>

            <div class="form-group m-3">
                <label class="ref-detalhes" for="nome">Insira seu nome*</label>
                <input required type="text" class="form-control" name="nome" id="nome" placeholder="Insira seu nome" />
            </div>

            <div class="form-group m-3">
                <label class="ref-detalhes" for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Insiera seu e-mail" />
                <p class="pedido-email">O e-mail servirá para informarmos para si que o seu pedido foi processado</p>
            </div>



            <div class="d-flex justify-content-center">
                <input class="criar-comen" style="border: 2px;" type="submit" value="Solicitar" />
            </div>
        </form>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center" style="margin: 10%;">
        <div class="alert alert-success">@Model.SuccessMessage</div>
    </div>
    <div class="d-flex justify-content-center">
        <a asp-area="" asp-page="/Livros" class="btn-get-started">Todos os livros</a>
    </div>
}
